PyYAML==3.10
Unidecode==0.04.10
argparse==1.2.1
demjson==1.6
ipython==0.13.1
lxml==3.0.1
nltk==2.0.4
pexpect==2.4
pposttl==0.1
pymongo==2.4.1
python-transparencydata==0.1
requests==1.0.4
-e git+git@github.com:boblannon/stanford-corenlp-python.git@bob_fork#egg=stanford-corenlp-python
wsgiref==0.1.2
